<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<title>我的收藏</title>
		<link href="/css/bootstrap.css"  rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<!--[if lt IE 9]>
      	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
	</head>  

	<body>
		<!--导航-->
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="row my-nav">
						<div class="navbar-header col-md-3 col-xs-12 col-sm-4">
		      				<a class="navbar-brand" href="#">
		        				<img alt="Brand"  src="img/logo.png">
		      				</a>
		    			</div>		
		    			<nav class="col-md-9 col-xs-12 col-sm-8">
		    				<a href="/" class="col-xs-3">生物实验品</a>
		    				<a href="/collection" class="col-xs-3">我的收藏</a>
		    				<a href="/operation" class="col-xs-3">我的操作</a>
		    				<a href="/products" class="col-xs-3">我的试用品</a>
		    			</nav>	 		    			
				</div>
			</div>
		</div>
		<!--end-->

		<!--主题部分-->
		<div class="con-wrap" id="collection" v-cloak >
			<div class="container my-main">
				<div class="row collect">
					<div class="col-md-3 swsyp-txt">/ 我的收藏</div>
					<div class="col-md-1"></div>
					<div class="col-md-8 form-group has-feedback has-success">
						<span class="glyphicon glyphicon-search form-control-feedback" id="search_icon" aria-hidden="false"></span>
						<input type="text" id="search_text" class="form-control" placeholder="货号/产品名称"/>
						<i class="search_hide"></i>
					</div>
				</div>
				<div class="row result-box" v-for="(collection,index) in collections" >
					<h5 class="hidden"></h5>
					<div class="col-sm-12 col-xs-12 result-list-wrap ">
						<a href="#" class="result-list">
							<picture class="col-sm-1 col-xs-2 result-list-img">
								<source srcset="img/placeholder-54-3.png 1x, img/placeholder-108-3.png 2x" media="(max-width:1199px)"> 
								<source srcset="img/placeholder-68-1.png 1x, img/placeholder-136-1.png 2x" media="(min-width:1200px)"> 
								<img src="img/placeholder-54-3.png" />
							</picture>
							<div class="col-sm-11 col-xs-10 ">
								<strong>{{collection.manuName}}.{{collection.manuSubName}} {{collection.pdf_name}}</strong>
								<div class="cata-numb">
									<span class="cata">目录编号：</span>
									<span> {{collection.item_name}}</span>
								</div>
								<div class="label-box">
									<span class="zw">中文</span>
									<span class="sp">视频</span>
									<input class="btn btn-default" v-bind:data-pdf_id="collection.id" type="button" value="取消收藏" @click=getcancelCollect(index,collection.id)>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>			
		</div>

		<!--end-->
		
		
		
		
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    var collectVue=new Vue({
    	el:"#collection",
    	data:{	
			collections:[]
			},
		methods:{
			getCollect:function(){
				$.ajax({
					type:"get",
					url:"http://127.0.0.1:3005/api/getCollect",
					dataType:'json',
		  			success:function(res){
  						if(res.res){
  							this.collections=res.data;
  						}
  					}.bind(this)
				});				
			},
            searchCollect:function(){
                this.Tval = $("#search_text").val();
                this.page=2;
                $.ajax({
                    url:'http://127.0.0.1:3005/api/getCollect?value='+this.Tval,
                    type:'get',
                    dataType:'json',
                    success:function(res){
                        if(res.res){
                            this.collections=res.data;
                        }
                    }.bind(this)
                })
            },
			getDelete:function(zindex){
        		this.collections.splice(zindex,1);
    		},
			getcancelCollect:function(zindex,id){
				$.ajax({
					url:"http://127.0.0.1:3005/api/cancelCollect",
					type:"post",
					dataType:"json",
					data:{
						pdf_id:id
					},
					success:function(res){
						if(res.res){
							this.getDelete(zindex);
							console.log("删除");
							console.log(this.collections);
						}
					}.bind(this)
				})
			}	
		}
    });
    collectVue.getCollect();
    $(document).on('click',".search_hide",function(){
        console.log(1234);
        collectVue.searchCollect();
    })
    </script>
	</body>
</html>
