<!--导航-->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="row my-nav">
            <div class="navbar-header col-md-4 col-xs-12 col-sm-4">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="/img/logo1.png">
                </a>
            </div>
            <nav class="col-md-7 col-xs-12 col-sm-7 ">
                <a href="/" class="col-xs-3">生物实验品</a>
                <a href="/collection" class="col-xs-3">我的收藏</a>
                <a href="/operation" class="col-xs-3">我的操作</a>
                <a href="/products" class="col-xs-3">我的试用品</a>
            </nav>
        </div>
    </div>
</div>