<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<title>我的操作</title>
		<link href="/css/bootstrap.css"  rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="/css/userPage.css"/>

		<!--时间控件-->
		<link href="css/bootstrap-datetimepicker.min.css"  rel="stylesheet"/>
		<!--[if lt IE 9]>
      	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
		<!--隐藏浏览器的地址栏-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	</head>  

	<body>
	<!--//导航部分-->
    <%- include nav %>

		<!--主题部分-->
		<div class="con-wrap">
			<div class="container my-main ">
				<div class="row collect operat user-top">
					<div class="col-md-3 swsyp-txt prod user-menu">/我的试用品</div>
				</div>
				<div class="row bs-example" data-example-id="striped-table">
					<table class="table table-striped" id="product_list"  v-cloak>
						<thead>
							<tr >
								<th>序号</th>
								<th>品牌</th>
								<th>货号</th>
								<th>单次试用数量</th>
								<th>申请时间</th>	
							</tr>
						</thead>
						<tbody>
							<tr v-for="(MyTrailProduct,index) in MyTrailProducts">
								<td scope="row"><b>{{index+1}}</b></td>
								<td> {{MyTrailProduct.manufacturer_name}} </td>
								<td>{{MyTrailProduct.item_name}} </td>
								<td>{{MyTrailProduct.sample_amount}}{{MyTrailProduct.unit}}</td>
								<td> {{MyTrailProduct.apply_time}} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

		<!--end-->
		
		
		
		
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    	var productVue=new Vue({
    		el:"#product_list",
    		data:{
    			MyTrailProducts:[]
    		},
    		methods:{
				getMyTrailProduct:function(){
					$.ajax({
						url:"http://47.104.10.19:3005/api/getMyTrailProduct",
						type:"get",
						dataType:"json",
						success:function(res){
	  						if(res.res){
								this.MyTrailProducts=res.data;
	  						}
	  					}.bind(this)
						
					})
				}
    		}
    		
    	})
    	productVue.getMyTrailProduct();
    </script>
    
	</body>
</html>
