@charset "utf-8";
@import "../../myless/main";

/* 大屏幕（手机，大于等于 320px） */
@media (min-width: @screen-xs-min) {

}

//生物试验品/产品收藏
.main-top .collect .my-mune {
  //border: 1px solid red;
  font-size: 1.4em;
  padding-left: 2rem;
  color: #3b6caa;
}

#detail_hd {

  //手机端特殊设置
  .visible-xs-block {

    .result-box {

      //border: 1px solid red;
      padding: 0 2rem 0 2rem;
      /* 大屏幕（手机，大于等于 320px） */
      @media (min-width: @screen-xs-min) {
        padding: 0 5rem 0 5rem;
        //border: 1px solid blue;

      }

      .pdf-title-ip {

        //border: 1px solid pink;
        margin: 1rem 0 1rem 0;

        /* 大屏幕（手机，大于等于 320px） */
        @media (min-width: @screen-xs-min) {
          margin: 3rem 0 2rem 0;

        }

        .share-love {
          color: #3b6caa;
          padding: 0 2rem 0 2rem;
          font-size: 1.1em;
          height: 6rem;
          line-height: 6rem;
          //background-color: beige;

          /* 大屏幕（手机，大于等于 320px） */
          @media (min-width: @screen-xs-min) {
            padding: 0 5rem 0 5rem;
            height: 12rem;
            line-height: 12rem;
            //background-color: yellow;

          }

          //width: 2rem;
          .glyphicon-heart {
            //padding-left: 5rem;
            height: 6rem;
            line-height: 6rem;
            font-size: 1.6em;

            /* 大屏幕（手机，大于等于 320px） */
            @media (min-width: @screen-xs-min) {
              //padding-left: 10rem;
              height: 12rem;
              line-height: 12rem;
              font-size: 1.8em;

            }

          }

          .back-search {
            //padding-left: 5rem;

            color: #3b6caa;
            height: 6rem;
            line-height: 6rem;
            font-size: 1em;

            /* 大屏幕（手机，大于等于 320px） */
            @media (min-width: @screen-xs-min) {
              //padding-left: 10rem;
              height: 12rem;
              line-height: 12rem;
              font-size: 1.3em;

            }

          }
        }

      }
      input{

        width: 100%;
        height: 5rem;
        line-height: 5rem; /* IE7支持 */
        //margin: 3rem 0 2rem 0;
        text-align: left;
        padding: 0;
        vertical-align: middle;
        /* 大屏幕（手机，大于等于 320px） */
        @media (min-width: @screen-xs-min) {
          width: 100%;

          height: 10rem;
          line-height: 10rem; /* IE7支持 */
          //padding: 3rem 5rem 3rem 5rem;
          font-size: 1.2em;

        }
      }
      button {
        height: 5rem;
        line-height: 4rem; /* IE7支持 */
        margin: 3rem 0 2rem 0;
        color: #fff;
        text-align: center;
        background: #F18516;
        padding: 0;
        vertical-align: middle;

        /* 大屏幕（手机，大于等于 320px） */
        @media (min-width: @screen-xs-min) {
          height: 10rem;
          line-height: 10rem; /* IE7支持 */
          //padding: 3rem 5rem 3rem 5rem;
          font-size: 1.2em;

        }

      }
    }

  }

  //pdf部分
  .pdf-control {
    padding: 2rem 0 0 0;
    //border:1px solid blue;
    //margin: 10rem 0 0 0;
    /* 大屏幕（手机，大于等于 320px） */
    @media (min-width: @screen-xs-min) {
      padding: 3rem 0 0 0;

    }

    /* 大屏幕（手机，大于等于 320px） */
    @media (min-width: @screen-xs-min) {
      padding: 5rem 0 0 0;

    }
    /* 小屏幕（平板，大于等于 768px） */
    @media (min-width: @screen-sm-min) {

      padding: 0 2rem 0 2rem;
    }

    /* 中等屏幕（桌面显示器，大于等于 992px） */
    @media (min-width: @screen-md-min) {
      padding: 0 2rem 0 2rem;
    }

    /* 大屏幕（大桌面显示器，大于等于 1200px） */
    @media (min-width: @screen-lg-min) {
      padding: 0 2rem 0 2rem;

    }

  }

  //left 菜单
  .control-left {

    //复制链接-pc端！
    .copy-ip {

      color: #fff;
      text-align: center;
      background: #F18516;
      font-size: 1.1em;
      vertical-align:middle;

      padding: 0;
      width: 100%;
      border-radius: 0;

      /* 小屏幕（平板，大于等于 768px） */
      @media (min-width: @screen-sm-min) {
        height: 3rem;
        line-height: 3rem;
        margin: 0 0 1rem 0; // pc特殊设置
      }

      /* 中等屏幕（桌面显示器，大于等于 992px） */
      @media (min-width: @screen-md-min) {
        height: 3rem;
        line-height: 2rem;
        text-align: center;
        margin-top:0.5rem;
        //background-color: yellow;
        //margin: 0 0 1rem 0; // pc特殊设置
      }

      /* 大屏幕（大桌面显示器，大于等于 1200px） */
      @media (min-width: @screen-lg-min) {
        height: 3rem;
        line-height: 3rem;
        margin: 0 0 1rem 0; // pc特殊设
      }
    }

    //左侧选择列表
    .control-list {

      font-size: 1.5em;
      font-weight: 500;
      color: black;
      //margin: 0;
      //padding: 0;

      .active {
        background-color: #fff;
        color: black;

        /* 小屏幕（平板，大于等于 768px） */
        @media (min-width: @screen-sm-min) {
          background-color: #3b6caa;
          color: #fff;
        }

        /* 中等屏幕（桌面显示器，大于等于 992px） */
        @media (min-width: @screen-md-min) {
          background-color: #3b6caa;
          color: #fff;
        }

        /* 大屏幕（大桌面显示器，大于等于 1200px） */
        @media (min-width: @screen-lg-min) {
          background-color: #3b6caa;
          color: #fff;
        }

      }

      .click {
        background-color: #3b6caa;
        color: #fff;
      }

      .control-list-item {
        cursor: pointer;
        border-bottom: 1px solid gainsboro;
        height: 6rem;
        line-height: 6rem;
        font-size: 0.8em;
        margin: 0 2rem 0 2rem; // 手机特殊设置
        padding: 0 1rem 0 1rem;
        //background-color: red;

        /* 大屏幕（手机，大于等于 320px） */
        @media (min-width: @screen-xs-min) {
          height: 12rem;
          line-height: 12rem;
          font-size: 0.8em;
          margin: 0 5rem 0 5rem; // 手机特殊设置
          padding: 0 2rem 0 2rem;
          //background-color: yellow;

        }

        /* 小屏幕（平板，大于等于 768px） */
        @media (min-width: @screen-sm-min) {
          height: 4rem;
          line-height: 4rem;
          font-weight: 600;
          margin: 0 0 0 0; // pc特殊设置
          padding: 0 0 0 1rem;


        }

        /* 中等屏幕（桌面显示器，大于等于 992px） */
        @media (min-width: @screen-md-min) {
          height: 3rem;
          line-height: 3rem;
          margin: 0 0 0 0; // pc特殊设置
          padding: 0 2rem 0 2rem;

        }

        /* 大屏幕（大桌面显示器，大于等于 1200px） */
        @media (min-width: @screen-lg-min) {
          height: 3rem;
          line-height: 3rem;
          margin: 0 0 0 0; // pc特殊设置
        }






        .badge {
          vertical-align: middle;
          background: gray none repeat scroll 0 0 !important;
          border-color: gray;
          position: relative;
          float: right;
          text-align: center;

          padding: 2px 7px !important;
          border-radius: 9px !important;
          margin-right: 10px !important;
          min-width: 0px !important;
          font-size: 0.7em !important;
          height: 2.4rem;
          margin-top: 2rem;
          width: 4rem;
          line-height: 2.4rem;

          /* 大屏幕（手机，大于等于 320px） */
          @media (min-width: @screen-xs-min) {
            padding: 3px 7px !important;
            border-radius: 9px !important;
            margin-right: 10px !important;
            min-width: 0px !important;
            font-size: 0.7em !important;
            height: 5rem;
            margin-top: 3.5rem;
            width: 8rem;
            line-height: 5rem;
          }

          /* 小屏幕（平板，大于等于 768px） */
          @media (min-width: @screen-sm-min) {
            padding: 3px 7px !important;
            border-radius: 9px !important;
            margin-right: 10px !important;
            min-width: 0px !important;
            font-size: 0.7em !important;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            margin-top: 1rem;
            width: 3rem;

          }

          /* 中等屏幕（桌面显示器，大于等于 992px） */
          @media (min-width: @screen-md-min) {
            padding: 3px 7px !important;
            border-radius: 9px !important;
            margin-right: 10px !important;
            min-width: 0px !important;
            font-size: 0.9em !important;
            height: 1.5rem;
            line-height: 1.5rem;
            margin-top: 0.75rem;
            width: 2rem;

          }

          /* 大屏幕（大桌面显示器，大于等于 1200px） */
          @media (min-width: @screen-lg-min) {
            padding: 3px 7px !important;
            border-radius: 9px !important;
            margin-right: 10px !important;
            min-width: 0px !important;
            font-size: 0.8em !important;
            height: 1.5rem;
            line-height: 1.5rem;
            margin-top: 0.75rem;
            width: 2rem;

          }

        }
      }
    }

  }

  // right 内容
  .iph-tab {

    display: none;
    left: 1000px;

    margin: -50rem 1rem 0 1rem;
    //border: 1px solid red;

    /* 大屏幕（手机，大于等于 320px） */
    @media (min-width: @screen-xs-min) {
      margin: -100rem 5rem 0 5rem;
    }

    //border: 1px solid red;
    /* 小屏幕（平板，大于等于 768px） */
    @media (min-width: @screen-sm-min) {
      margin: 0 0 0 0;
      display: block;
      left: 0;
    }

    /* 中等屏幕（桌面显示器，大于等于 992px） */
    @media (min-width: @screen-md-min) {
      margin: 0 0 0 0;
      display: block;
      left: 0;
    }
    /* 大屏幕（大桌面显示器，大于等于 1200px） */
    @media (min-width: @screen-lg-min) {
      margin: 0 0 0 0;
      display: block;
      left: 0;
    }



    //左侧列表点击后对应内容部分
    .tab_con {

      margin-bottom: 5rem;

      .detai-tit-box {

        padding: 0;
        margin: 0;

        .detai-tit2 {

          font-size: 1.4em;
          //color: red;

          /* 大屏幕（手机，大于等于 320px） */
          @media (min-width: @screen-xs-min) {
            font-size: 1.4em;

          }
          /* 小屏幕（平板，大于等于 768px） */
          @media (min-width: @screen-sm-min) {
            font-size: 1.4em;
          }

          /* 中等屏幕（桌面显示器，大于等于 992px） */
          @media (min-width: @screen-md-min) {
            font-size: 1.4em;
          }

          /* 大屏幕（大桌面显示器，大于等于 1200px） */
          @media (min-width: @screen-lg-min) {
            font-size: 1.4em;
          }
        }
        //手机返回按钮
        .iph-back {

          //height: 5rem;
          line-height: 1rem;
          width: 5rem;
          text-align: center;
          font-size: 1em;
          margin-top: 1rem;
          margin-bottom: 2rem;

          /* 大屏幕（手机，大于等于 320px） */
          @media (min-width: @screen-xs-min) {
            line-height: 3rem;
            width: 10rem;
            text-align: center;
            font-size: 1em;
            margin-top: 1rem;
            margin-bottom: 3rem;
          }
        }
      }

      .want-com{
        padding: 3rem 0 0 0;

        /* 小屏幕（平板，大于等于 768px） */
        @media (min-width: @screen-sm-min) {
          padding: 0 0 0 0;
        }

        /* 中等屏幕（桌面显示器，大于等于 992px） */
        @media (min-width: @screen-md-min) {
          padding: 0 0 0 0;

        }

        /* 大屏幕（大桌面显示器，大于等于 1200px） */
        @media (min-width: @screen-lg-min) {
          padding: 0 0 0 0;

        }


      }
    }
  }
}

//pc端pdf标题部分
.hidden-xs {

  .result-box {

    width: 100%;

    .paddB15 {

      .share-love {
        padding-left: 2rem;
        padding-right: 2rem;

        //margin-left: 4rem;

        /* 小屏幕（平板，大于等于 768px） */
        @media (min-width: @screen-sm-min) {
          height: 3rem;
          line-height: 3rem;
        }

        /* 中等屏幕（桌面显示器，大于等于 992px） */
        @media (min-width: @screen-md-min) {
          height: 3rem;
          line-height: 3rem;
        }

        /* 大屏幕（大桌面显示器，大于等于 1200px） */
        @media (min-width: @screen-lg-min) {
          height: 3rem;
          line-height: 3rem;
        }

        //width: 2rem;
        .glyphicon-heart {
          //padding-left: 5rem;
          height: 3rem;
          line-height: 3rem;
          font-size: 2em;
          color: #3b6caa;

        }
        .changRed{
          color:red;
        }

        .back-search {
          height: 3rem;
          line-height: 3rem;
          font-size: 1.3em;
          color: #3b6caa;

        }

      }
    }
  }
}

//试用品申请modal
#applyModal {

  .modal-dialog{

    .modal-content{
      padding: 0 5rem 0 5rem;

      /* 大屏幕（手机，大于等于 320px） */
      @media (min-width: @screen-xs-min) {
        padding: 0 5rem 0 5rem;

      }
    }
  }
}


#issue-comment{
  padding: 5rem 0 0 0;

  /* 大屏幕（手机，大于等于 320px） */
  @media (min-width: @screen-xs-min) {
    padding: 1rem 0 0 0;

  }

  /* 小屏幕（平板，大于等于 768px） */
  @media (min-width: @screen-sm-min) {
    padding: 0 0 0 0;

  }

  /* 中等屏幕（桌面显示器，大于等于 992px） */
  @media (min-width: @screen-md-min) {
    padding: 0 0 0 0;

  }

  /* 大屏幕（大桌面显示器，大于等于 1200px） */
  @media (min-width: @screen-lg-min) {
    padding: 0 0 0 0;

  }
}






//ceshi

.ttt{


  .container{

    .row{

      .left{

        button{

        }
        .control-list1{
          .control-list-item{

            font-size: 1.5em;
            font-weight: 600;
            height: 3rem;
            line-height: 3rem;
            border: 1px solid red;
          }
        }
      }
    }
  }

}




/* 小屏幕（平板，大于等于 768px） */
@media (min-width: @screen-sm-min) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: @screen-md-min) {

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: @screen-lg-min) {

}