@charset "utf-8";
@media (min-width: 320px) {
  html {
    font-size: 4.48px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 5.04px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 5.25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 5.376px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 5.6px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 5.796px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 5.936px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 6.72px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 7.56px;
  }
}
@media (min-width: 580px) {
  html {
    font-size: 8.12px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 8.96px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 10.08px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 13.44px;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 15.12px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 17.92px;
  }
}
@media (min-width: 1480px) {
  html {
    font-size: 20.72px;
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a {
  color: #323232;
}
li {
  list-style: none;
}
main {
  width: 100%;
  position: relative;
  float: left;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  main {
    top: -3rem;
  }
}
@media (min-width: 992px) {
  main {
    top: -3rem;
  }
}
@media (min-width: 1200px) {
  main {
    top: -4rem;
  }
}
.Splash {
  position: relative;
  height: 20rem;
}
.Splash .Splash-content {
  height: 100%;
  background-color: #e3e3e3;
}
.Splash .Splash-content .Splash-title {
  color: black;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-top .collect .my-mune {
  font-size: 1.4em;
  padding-left: 2rem;
  color: #3b6caa;
}
#detail_hd {
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
#detail_hd .visible-xs-block .result-box {
  padding: 0 5rem 0 5rem;
}
#detail_hd .visible-xs-block .result-box .return-btn-ip {
  height: 10rem;
  line-height: 10rem;
  /* IE7支持 */
  padding: 3rem 5rem 3rem 5rem;
}
#detail_hd .visible-xs-block .result-box .return-btn-ip a {
  color: #fff;
  text-align: center;
  display: block;
  background: #F18516;
  line-height: 10rem;
  height: 10rem;
}
#detail_hd .visible-xs-block .result-box .return-btn-ip a:active {
  background: #3b6caa;
}
#detail_hd .visible-xs-block .result-box .share-love {
  color: #3b6caa;
  padding: 0 5rem 0 5rem;
}
#detail_hd .visible-xs-block .result-box .share-love .glyphicon-heart {
  padding-left: 10rem;
}
#detail_hd .pdf-control {
  padding: 5rem 0 0 0;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .pdf-control {
    padding: 0 2rem 0  2rem;
  }
}
@media (min-width: 992px) {
  #detail_hd .pdf-control {
    padding: 0 2rem 0  2rem;
  }
}
@media (min-width: 1200px) {
  #detail_hd .pdf-control {
    padding: 0 2rem 0  2rem;
  }
}
#detail_hd .control-left .return-btn {
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .control-left .return-btn {
    height: 3rem;
    margin: 0 0 1rem 0;
  }
}
@media (min-width: 992px) {
  #detail_hd .control-left .return-btn {
    height: 3rem;
    margin: 0 0 1rem 0;
  }
}
@media (min-width: 1200px) {
  #detail_hd .control-left .return-btn {
    height: 3rem;
    margin: 0 0 1rem 0;
  }
}
#detail_hd .control-left .return-btn a {
  color: #fff;
  text-align: center;
  display: block;
  background: #F18516;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .control-left .return-btn a {
    line-height: 3rem;
    height: 3rem;
  }
}
@media (min-width: 992px) {
  #detail_hd .control-left .return-btn a {
    line-height: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1200px) {
  #detail_hd .control-left .return-btn a {
    line-height: 3rem;
    height: 3rem;
  }
}
#detail_hd .control-left .return-btn a:active {
  background: #3b6caa;
}
#detail_hd .control-left .control-list {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  margin: 0;
  padding: 0;
}
#detail_hd .control-left .control-list .active {
  background-color: #fff;
  color: black;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .control-left .control-list .active {
    background-color: #3b6caa;
    color: #fff;
  }
}
@media (min-width: 992px) {
  #detail_hd .control-left .control-list .active {
    background-color: #3b6caa;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  #detail_hd .control-left .control-list .active {
    background-color: #3b6caa;
    color: #fff;
  }
}
#detail_hd .control-left .control-list .click {
  background-color: #3b6caa;
  color: #fff;
}
#detail_hd .control-left .control-list .control-list-item {
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
  height: 12rem;
  line-height: 12rem;
  font-size: 1em;
  margin: 0 5rem 0 5rem;
  padding: 0 2rem 0 2rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .control-left .control-list .control-list-item {
    height: 4rem;
    line-height: 4rem;
    font-size: 0.8em;
    margin: 0 0 0 0;
    padding: 0 2rem 0 2rem;
  }
}
@media (min-width: 992px) {
  #detail_hd .control-left .control-list .control-list-item {
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 0 0;
    padding: 0 2rem 0 2rem;
  }
}
@media (min-width: 1200px) {
  #detail_hd .control-left .control-list .control-list-item {
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 0 0;
  }
}
#detail_hd .control-left .control-list .control-list-item span {
  vertical-align: middle;
  background: gray none repeat scroll 0 0 !important;
  border-color: gray;
  position: relative;
  float: right;
  text-align: center;
  padding: 3px 7px !important;
  border-radius: 9px !important;
  margin-right: 10px !important;
  min-width: 0px !important;
  font-size: 0.7em !important;
  height: 5rem;
  margin-top: 3.5rem;
  width: 8rem;
  line-height: 5rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .control-left .control-list .control-list-item span {
    padding: 3px 7px !important;
    border-radius: 9px !important;
    margin-right: 10px !important;
    min-width: 0px !important;
    font-size: 0.7em !important;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    width: 3rem;
  }
}
@media (min-width: 992px) {
  #detail_hd .control-left .control-list .control-list-item span {
    padding: 3px 7px !important;
    border-radius: 9px !important;
    margin-right: 10px !important;
    min-width: 0px !important;
    font-size: 0.7em !important;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    width: 2rem;
  }
}
@media (min-width: 1200px) {
  #detail_hd .control-left .control-list .control-list-item span {
    padding: 3px 7px !important;
    border-radius: 9px !important;
    margin-right: 10px !important;
    min-width: 0px !important;
    font-size: 0.7em !important;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    width: 2rem;
  }
}
#detail_hd .iph-tab {
  display: none;
  left: 1000px;
  margin: -90rem 5rem 0 5rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .iph-tab {
    margin: 0 0 0 0;
    display: block;
    left: 0;
  }
}
@media (min-width: 992px) {
  #detail_hd .iph-tab {
    margin: 0 0 0 0;
    display: block;
    left: 0;
  }
}
@media (min-width: 1200px) {
  #detail_hd .iph-tab {
    margin: 0 0 0 0;
    display: block;
    left: 0;
  }
}
#detail_hd .iph-tab .tab_con .detai-tit-box .detai-tit2 {
  font-size: 5rem;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  #detail_hd .iph-tab .tab_con .detai-tit-box .detai-tit2 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #detail_hd .iph-tab .tab_con .detai-tit-box .detai-tit2 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #detail_hd .iph-tab .tab_con .detai-tit-box .detai-tit2 {
    font-size: 2rem;
  }
}
#detail_hd .iph-tab .tab_con .detai-tit-box .iph-back {
  line-height: 3rem;
  width: 10rem;
  text-align: center;
  font-size: 1em;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
