@charset "utf-8";
@import "../../myless/main";



//.my-main .swsyp-txt{
//  //text-align:left;
//  //padding-bottom:1rem;
//  font-size:2em;
//  background-color: yellow;
//  //line-height: 6rem;
//  height: 6rem;
//  //text-align: center;
//  float: left;
//  //width: 100%;
//
//
//  /* 小屏幕（平板，大于等于 768px） */
//  @media (min-width: @screen-sm-min) {
//    font-size:2em;
//
//  }
//  /* 中等屏幕（桌面显示器，大于等于 992px） */
//  @media (min-width: @screen-md-min) {
//    font-size:2em;
//  }
//  /* 大屏幕（大桌面显示器，大于等于 1200px） */
//  @media (min-width: @screen-lg-min) {
//    font-size:2em;
//  }
//
//}
//
//.search-input{
//  width: 80%;
//  float: left;
//  height: 4rem;
//  margin-top: 1rem;
//  line-height: 4rem;
//  font-size: 1.6em;
//  padding-bottom: 1rem;
//  //background-color: red;
//
//}

.ov_f {
  //padding: 0 5rem;

  /* 小屏幕（平板，大于等于 768px） */
  @media (min-width: @screen-sm-min) {
    //padding: 0 5rem;

  }
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  @media (min-width: @screen-md-min) {
    //padding: 0 5rem;
  }
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
  @media (min-width: @screen-lg-min) {
    //padding: 0 10rem;
  }
}

.ov_f .result-list-wrap
{
  padding:1rem 1rem;
  //background:#c7254e;
  overflow:hidden; //mobile??

}

.result-list-wrap .result-list{

  background-color:palegoldenrod;
  //height: 13rem;
  font-size: 1em;
  border: 3px solid gold;
  width: 100%;
  display: block;
  height: 100%;
  float: left;


  @media (min-width: @screen-sm-min) {

    background:darkblue;

  }
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  @media (min-width: @screen-md-min) {

    background:yellow;

  }
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
  @media (min-width: @screen-lg-min) {

    background:gold;
    //height: 3rem;

  }
}

.result-list-img {
  img{
    width: 6rem;
    height: 10rem;
    border: 1px solid green;

    /* 小屏幕（平板，大于等于 768px） */
    @media (min-width: @screen-sm-min) {

      width: 5rem;
      height: 6rem;
      border: 1px solid goldenrod;

    }
    /* 中等屏幕（桌面显示器，大于等于 992px） */
    @media (min-width: @screen-md-min) {

      width: 3rem;
      height: 4rem;
      border: 1px solid blue;

    }
    /* 大屏幕（大桌面显示器，大于等于 1200px） */
    @media (min-width: @screen-lg-min) {

      width: 3rem;
      height: 4rem;
      border: 1px solid green;

    }


  }



}

.item-detail {
  border: 1px solid pink;
  padding-left: 1rem;

  /* 小屏幕（平板，大于等于 768px） */
  @media (min-width: @screen-sm-min) {

    padding-left: 2rem;

  }
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  @media (min-width: @screen-md-min) {

    padding-left: 1rem;

  }
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
  @media (min-width: @screen-lg-min) {

    padding-left: 1rem;
  }

  .item-name {

    font-size: 1.1em;


    /* 小屏幕（平板，大于等于 768px） */
    @media (min-width: @screen-sm-min) {

      font-size: 1.1em;

    }
    /* 中等屏幕（桌面显示器，大于等于 992px） */
    @media (min-width: @screen-md-min) {

      font-size: 1.2em;

    }
    /* 大屏幕（大桌面显示器，大于等于 1200px） */
    @media (min-width: @screen-lg-min) {

    font-size: 1.2em;
    }

  }
  .cata-numb{



    .cata {

    }
    .item-No{
      font-size: 1.3em;
      color: #1E9FFF;
    }
  }


}