@charset "utf-8";
//@import "../../myless/main";

.user-top{

  border: 1px solid red;
  position: relative;
  //float: left;

  .user-menu{
    border:1px solid blue;
    color:rgb(0, 118, 163);
    font-size:1.5em;
    text-align:right;
    line-height:45px;
    font-weight:600;
  }
}


//我的收藏

.result-list-wrap{
  //border: 1px solid blue;
  //padding: 0 2rem 0 ;

  .result-list {
    border:1px solid yellowgreen;
  }
 }
.myoperate-right{
  border:1px solid black;
}